@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap");
body{
    font-family: "Outfit", sans-serif;
    background-image: url("images/pattern-background-desktop.svg");
    background-repeat: no-repeat;
    background-size:contain ;
    background-position-y: -10vh;
    background-color: hsl(225, 100%, 94%);
}
img, h1, h2, p {
    padding: 0;
    margin: 0;
}
.display{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.card {
    margin-top: 10%;
    background-color: hsl(0, 100%, 100%);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 10px 15px hsl(245, 83%, 68%, 10%);
}
.main_image{
    width: 100%;
    border-radius: 15px 15px 0 0 ;
}
h1{
    margin-top: 30px;
    color:  hsl(223, 47%, 23%);
}
.description {
    max-width: 354px;
    margin-top: 16px;
    color: hsl(224, 23%, 55%);
    text-align: center;
    font-size: 16px;
    line-height: 160%;
    letter-spacing: 0.005em;
}
.music_icon{
    width: 48px;
    height: 48px;
}
.plan_card{
    background-color:  hsl(225, 100%, 98%);
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 10px;
    width: 350px;
    height: 80px;
    padding: 0 0 0 20px;
    margin-top: 20px;
    margin-bottom:20px ;
}
.plan_info{
    margin-left: 18px;

}
h2{
    font-size: 17px;
    font-weight: 700;
    width: 100px;
    color: hsl(223, 47%, 23%);
    letter-spacing: -0.011em;
}
.price{
    margin-top: 5px;
    letter-spacing: 0.5px;
    color: hsl(224, 23%, 55%);

}
.change_button{
    margin-left: 100px;
    color: hsl(245, 75%, 52%);
    font-weight: 700;
    font-size: 15px;
    letter-spacing: 0.015em;
}
.change_button:hover{
    text-decoration: none;
}
button{
    background-color:  hsl(245, 75%, 52%);
    color: white;
    font-size: 18px;
    font-weight: 700;
    border: none;
    letter-spacing: 0.5px;
    border-radius: 15px;
    padding: 20px;
    width: 350px;
    box-shadow: 0 20px 25px 5px hsl(245, 75%, 52%, 15%);
}
button:hover{
    cursor: pointer;
    opacity: 0.8;
}

.cancel_button {
    margin-top: 32px;
    text-decoration: none;
    color: hsl(224, 23%, 55%);
    font-weight: 700;
    font-size: 20px;
    letter-spacing: 0.01em;
    margin-bottom: 40px;
}

.attribution {
    margin-top: 15px;
    color: hsl(223, 47%, 23%);
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}
@media (max-width:600px) {
    body{
        font-family: "Outfit", sans-serif;
        background-image: url("images/pattern-background-mobile.svg");
        background-repeat: no-repeat;
        background-size:contain ;
        background-position-y: -10vh;
        background-color: hsl(225, 100%, 94%);
    }
    .card{
        width: 330px;
    }
    h1{
        font-size: 25px;
    }
    .description{
        max-width:280px ;
    }
    .plan_card{
        width:270px;
        height: 70px;
        padding: 0 0 0 10px;
    }
    h2{
        font-size: 16px;
        
    }
    .price{
        font-size: 15px;
    }
    .change_button{
        margin-left: 35px;
    }
    button{
        width: 270px;
        padding: 16px;
        font-size: 15px;
    }
    .cancel_button{
        margin-top: 25px;
        margin-bottom: 30px;
        font-size: 16px;
        font-weight: 700;
    }

}